/** @format */
:root {
  --bg-container: rgb(232, 246, 249);
  --bg-card: rgb(248, 254, 253);
  --border: rgb(212, 212, 212);
}
.admin-display-main {
  width: 100%;
  height: 92vh;
  background-color: rgb(232, 234, 234);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
div.admin-display-main::-webkit-scrollbar {
  width: 6px;
}
div.admin-display-main::-webkit-scrollbar-track {
  background: #015187f0;
}
div.admin-display-main::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-radius: 5px;
  /* border: 3px solid rgb(55, 55, 55); */
}
.admin-display-section01 {
  position: relative;
  height: 30vh;
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--bg-container); */
  /* border: 0.2px solid var(--border); */
  border-radius: 5px;
  padding: 0 10px;
}
.admin-display-items {
  width: 24%;
  height: 150px;
  border-radius: 5px;
  border: 0.2px solid var(--border);
  background-color: var(--bg-card);
}
.admin-display-items:hover {
  -webkit-box-shadow: 3px 4px 15px -7px #3a3a3a;
  box-shadow: 3px 4px 15px -7px #3a3a3a;
}
.admin-display-items > div:last-child {
  cursor: pointer;
  border-top: 0.2px solid var(--border);
}
.admin-display-items > div:last-child:hover {
  color: rgb(0, 107, 201);
  transition: 0.5s ease;
}
.admin-display-items-section1 {
  height: 100px;
}
.admin-display-icon-big {
  font-size: 65px !important;
}
.admin-display-items-section2 {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.admin-display-section02 {
  position: relative;
  height: 55vh;
  width: 100%;
  min-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: var(--bg-container); */
  border-radius: 5px;
  /* border: 0.2px solid var(--border); */
}
.admin-display-section02-div1 {
  width: 98.3%;
  height: 50vh;
  border: 0.2px solid var(--border);
  background-color: var(--bg-card);
  border-radius: 5px;
  padding: 0 5px;
}

.font-color {
  color: blueviolet;
}
@media only screen and (max-width: 765px) {
  .admin-display-main {
    height: 92vh;
    /* min-height: 92vh; */
    overflow-y: scroll !important;
    display: inline-block;
  }
  .admin-display-section01 {
    flex-wrap: wrap;
    height: 40vh;
    min-height: 30vh;
  }
  .admin-display-items {
    width: 49%;
    height: 115px;
    min-height: 115px;
    margin: 10px 0 10px 0;
  }

  .admin-display-items-section1 {
    height: 80px;
    min-height: 80px;
  }

  .admin-display-items-section2 {
    height: 30px;
    min-height: 30px;
  }
  .admin-display-section02 {
    margin-top: 2vh;
  }
}
@media only screen and (max-width: 578px) {
  .admin-display-items {
    width: 100%;
  }
  .admin-display-section01 {
    flex-wrap: wrap;
    height: 75vh;
    min-height: 75vh;
  }
}
