/** @format */

:root {
  --font-color: #e4e4e4;
  --font-hover-color: #ffffff;
  --dark-font-color: #6c6c6c;
  --light-border-color: #c2c2c2;
}
.admin-main {
  overflow-y: hidden;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  position: relative;
}
.sidebar {
  height: 100vh;
  min-height: 100%;
  width: 250px;
  min-width: 250px;
  background-color: #002741f0;
  color: var(--font-color);
  border-right: #e4e4e4;
  transition: 0.8s;
}
.admin-dashboard-logo-div {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: left;
}
.admin-dashboard-logo-div img {
  height: 40px;
}
.show-close-icon {
  display: none !important;
}
.sidebar-logo {
  height: 8vh;
}
.sidebar-logo a {
  text-decoration: none;
  display: flex;
  color: var(--font-color);
}
.sidebar-logo a:hover {
  text-decoration: none;
  color: var(--font-hover-color);
}
.sidebar-items {
  padding: 10px 0 10px 5px;
  margin: 3px 0;
  background-color: #e4e4e400;
  cursor: pointer;
  color: var(--font-color);
}
.sidebar-items h6 {
  font-size: 14px;
}
.sidebar-items h6 span:nth-child(1) svg {
  font-size: 18px;
}

.sidebar-items:hover {
  background-color: #00243cf0;
  color: #0096dc;
}

/* @media only screen and (min-width: 565px) {
  .user-display-section01 {
    width: 100%;
    min-width: 100%;
  }
} */

.admin-right-div {
  background-color: rgba(0, 255, 255, 0);
  width: calc(100% - 250px) !important;
  max-width: calc(100% - 250px) !important;
  height: 100vh;
  max-height: 100%;
  /* width: calc(100%-200px) !important; */
}
.admin-nav-div {
  position: relative;
  height: 8vh;
  color: var(--font-color);
  background-color: #103c54;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .admin-search {
  position: relative;
  width: 200px;
  min-width: 170px;
}
.admin-search-icon {
  position: absolute;
  color: #797979;
  z-index: 1;
  top: 20%;
  right: 20px;
}
.admin-search-input {
  padding-left: 10px !important;
  border-radius: 5px !important;
  background-color: transparent !important;
  color: var(--font-color) !important;
} */
.admin-profile-div {
  position: relative;
  width: 36px;
  min-width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border: 0.2px solid rgb(86, 86, 86);
}
.admin-profile-pic {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.admin-dashboard-div {
  height: 92vh;
  max-height: 92vh;
  background-color: #6c6c6c00;
}
/* .admin-user-div {
  height: 73vh;
  overflow-y: hidden;
  border: 0.5px solid rgba(128, 128, 128, 0.293);
  border-radius: 4px;
} */
.user-name-display {
  height: 65vh;
  overflow-y: auto;
  max-height: 100%;
  color: #6c6c6c;
}

/* .admin-users-display {
  min-height: 100%;
  background-color: #6c6c6c;
} */
div.user-name-display::-webkit-scrollbar {
  width: 6px;
}
div.user-name-display::-webkit-scrollbar-track {
  background-color: #a6a6a6;
}
div.user-name-display::-webkit-scrollbar-thumb {
  background: #015187f0;
  border-radius: 5px;
  /* border: 3px solid rgb(55, 55, 55); */
}
.admin-menu-icon {
  display: none !important;
}
.perfomance-item01 {
  height: 70vh;
  width: 45%;
  border-radius: 5px;
  border: 0.2px solid rgb(189, 189, 189);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.perfomance-item02 {
  height: 70vh;
  width: 45%;
  border-radius: 5px;
  border: 0.2px solid rgb(189, 189, 189);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .admin-main {
    overflow: hidden !important;
  }
  .admin-right-div {
    min-width: 100%;
    transform: translateX(-250px);
  }
  .user-display-section01 {
    flex-direction: column;
    width: 100% !important;
    min-width: 100% !important;
  }
  .sidebar-move-left {
    transform: translateX(-250px);
    width: 250px;
    transition: 0.8s ease-out;
    z-index: 2;
  }
  .sidebar-move-right {
    transform: translateX(0);
    width: 250px;
    transition: 0.8s ease-out;
    z-index: 2;
  }
  .admin-dashboard-logo-div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .show-close-icon {
    display: block !important;
    cursor: pointer;
  }

  /* .admin-right-div-expand {
    min-width: 100%;
    transform: translateX(-250px);
    transition: 0.8s ease-out;
  }
  .admin-right-div-minimize {
    min-width: calc(100% - 250px);
    transform: translateX(0px);
    transition: 0.8s ease-out;
  } */
  .admin-nav-div div:nth-child(2) {
    max-width: 40% !important;
    display: flex;
    justify-content: end !important;
  }
  .admin-menu-icon {
    display: block !important;
    color: #ffffff;
    cursor: pointer;
  }
  .admin-menu-icon:hover {
    color: #0096dc;
  }
  .hide-menu-icon {
    visibility: hidden;
  }
  .show-menu-icon {
    visibility: visible;
    cursor: pointer;
  }
  .perfomance-item01 {
    height: 30vh;
  }
  .perfomance-item02 {
    height: 30vh;
  }
}
@media only screen and (max-width: 565px) {
  .admin-right-div {
    background-color: rgba(0, 255, 255, 0);
    padding: 0px 0px !important;
    /* width: calc(100%-200px) !important; */
  }
  .admin-users-display {
    padding: 0px 0px !important;
  }
  .sidebar {
    width: 150px !important;
    max-width: 150px !important;
  }
  .sidebar-move-right {
    transform: translateX(0);
    width: 150px !important;
    max-width: 150px !important;
    transition: 0.8s ease-out;
  }
  .admin-nav-div {
    display: flex;
    justify-content: space-between;
  }
  .admin-nav-div div:nth-child(2) {
    max-width: 90% !important;
    display: flex;
    justify-content: space-around !important;
  }

  /* .sidebar {
    width: 100px;
    min-width: 100px;
  } */
  /* .sidebar-move-left {
    transform: translateX(-100px);
    width: 350px;
    transition: 0.8s ease-out;
  }
  .sidebar-move-right {
    transform: translateX(0);
    width: 100px;
    transition: 0.8s ease-out;
  } */

  /* .admin-right-div-expand {
    min-width: 100%;
    transform: translateX(-100px);
    transition: 0.8s ease-out;
  }
  .admin-right-div-minimize {
    min-width: calc(100% - 100px);
    transform: translateX(0px);
    transition: 0.8s ease-out;
  } */
  /* .hide-item {
    display: none;
  }
  .make-icon-bigger {
    font-size: 32px !important;
  }
  .sidebar-logo {
    justify-content: center !important;
  }
  .add-margin {
    justify-content: center;
    width: 100%;
  } */
  div.user-name-display::-webkit-scrollbar {
    width: 2px;
  }
  div.user-name-display::-webkit-scrollbar-track {
    background: #015187f0;
  }
  div.user-name-display::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 5px;
    /* border: 3px solid rgb(55, 55, 55); */
  }
  .perfomence-content {
    flex-direction: column;
  }
  .perfomance-item01 {
    height: 18vh;
    width: 100%;
    margin-bottom: 10px;
  }
  .perfomance-item02 {
    height: 20vh;
    width: 100%;
  }
}
