/** @format */

.booking-details-container {
  width: 100%;
  height: auto;
}

.booking-details {
  width: 100%;
}
.booking-details-section01 {
  display: flex;
}

.booking-details-item1 {
  display: flex;
}
.booking-details-item2 {
  display: flex;
}
.booking-flight-list-header1 {
  /* background-color: #002741f0; */
  background-color: aliceblue;
  border: 2px solid #002741f0;
  /* color: var(--font-color); */
  color: #002741f0;
  border-radius: 4px 4px 0 0;
}
@media only screen and (max-width: 765px) {
  .booking-details-item2 {
    display: none;
  }
}
@media only screen and (max-width: 565px) {
  .booking-details {
    max-width: 100% !important;
    flex-direction: column;
  }
}
