/** @format */

.booking-details-container {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 565px) {
  .info-div {
    width: 100% !important;
  }
  .info-div-section01 {
    flex-direction: column;
  }
  /* .info-div-section01 div {
    padding: 0 10px !important;
  } */
}
