/** @format */

:root {
  --font-color: #e4e4e4;
  --font-hover-color: #ffffff;
}

.dashboard-container {
  /* min-width: 565px; */
  background-color: #013457f0;
  color: var(--font-color);
  border-radius: 5px;
  top: 70px;
  position: relative;
  height: auto;
  margin-bottom: 70px;
  box-shadow: 0px 1px 10px 0px rgba(23, 23, 23, 0.75);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(23, 23, 23, 0.75);
  -moz-box-shadow: 0px 1px 10px 0px rgba(23, 23, 23, 0.75);
}
.dashboard-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 1px 10px 0px rgba(23, 23, 23, 0.75);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(23, 23, 23, 0.75);
  -moz-box-shadow: 0px 1px 10px 0px rgba(23, 23, 23, 0.75);
}
.search-input {
  color: aliceblue !important;
}

.user-display-img {
  height: 195px;
  width: 195px;
  object-fit: contain;
  border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  .user-display-item-div {
    flex-direction: column;
    justify-content: space-between !important;
  }
  .user-display-img {
    width: 100%;
    height: 100px;
    width: 100px;
  }
}
