/** @format */

.modal-dialog {
  max-width: 850px !important;
  /* min-width: 460px !important; */
}
.flight-item-model {
}
div.flight-item-model::-webkit-scrollbar {
  width: 6px;
}
div.flight-item-model::-webkit-scrollbar-track {
  background: #015187f0;
}
div.flight-item-model::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-radius: 5px;
  /* border: 3px solid rgb(55, 55, 55); */
}
.depature-details {
  background-color: rgba(0, 39, 65, 0.942);
  color: #e4e4e4;
  padding: 10px 0px;
  text-align: center;
  margin-bottom: 10px;
}
.info-div {
  border: 0.2px solid rgb(202, 202, 202);
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: -1px 2px 22px 0px rgba(163, 161, 161, 0.75);
  -webkit-box-shadow: -1px 2px 22px 0px rgba(163, 161, 161, 0.75);
  -moz-box-shadow: -1px 2px 22px 0px rgba(163, 161, 161, 0.75);
}
.AirplanemodeActiveIcon {
  transform: rotate(90deg);
  color: #737373;
}
.single-line {
  margin-left: 2px;
  height: 0.8px;
  width: 150px;
  background-color: #737373;
}
.circle {
  margin-left: 5px;
  height: 10px;
  min-width: 10px;
  border: 0.7px solid #737373;
  border-radius: 50%;
}
.carrier-img-model {
  margin-top: -20px;
}
.info-div-section01 {
  display: flex;
}
.info-div-section01-item01 {
  display: flex;
}
.info-div-section01-item02 {
  display: flex;
}

@media only screen and (max-width: 765px) {
  .info-div-section01-item02 {
    display: none !important;
  }
}

@media only screen and (max-width: 565px) {
  .info-div {
    width: 100% !important;
  }
}
