/** @format */
:root {
  --body-bg-color: #141414;
  --font-color: #e4e4e4;
  --font-hover-color: #ffffff;
  --nav-color: #002741;
  --nav-menu-color: #01203e;
  --border-color-light: 0.2px solid rgb(198, 198, 198);
  --bg-hover-color: #001b3f;
}
.navbar-div-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: var(--nav-color);
  z-index: 2;
}
.navbar-div-container {
  display: flex;
  width: 100%;
  height: 55px;
  position: relative;
}
.logo-div {
  width: 50%;
  display: flex;
  align-items: center;
}
.logo-div img {
  height: 50px;
  cursor: pointer;
  padding-left: 5px;
}
.nav-menu-div {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav-menu {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  cursor: pointer;
}
.nav-menu p:hover {
  text-decoration: none;
  color: rgb(0, 157, 255);
  /* color: var(--font-hover-color); */
  background-color: var(--bg-hover-color);
  transition: 0.5s ease;
}

.user-profile {
  width: 34%;
  min-width: 150px;
  height: 100%;
  color: var(--font-color);
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0 0;
}
.user-profile:hover {
  background-color: var(--bg-hover-color);
  transition: 0.5s ease;
}
.profile-div {
  position: relative;
  width: 35px;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: aliceblue;
}
.profile-image {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.menu-profile-image {
  width: 52px;
  height: 52px;
  min-height: 52px;
  border-radius: 50%;
  object-fit: cover;
}
.user-profile-details-hide {
  display: none;
}
.user-logout-div a {
  color: var(--font-color);
}
.user-logout-div a:hover {
  text-decoration: none;
  color: var(--font-hover-color);
}
.user-profile-details-show {
  width: 300px;
  height: 200px;
  position: absolute;
  display: block;
  right: 0;
  z-index: 1;
  top: 55px;
  border-radius: 0 0 4px 4px;
  background-color: var(--nav-menu-color);
  -webkit-box-shadow: -1px 5px 11px -4px #070707;
  box-shadow: -1px 5px 11px -4px #070707;
}
.toggle-btn {
  display: none;
  transition: all 1s ease;
}
.line1 {
  height: 1.2px;
  background-color: var(--font-color);
  margin: 5px 0 5px 0;
  cursor: pointer;
}
.line2 {
  height: 1.5px;
  background-color: rgb(0, 159, 180);
  margin: 5px 0 5px 7px;
  transition: 0.5s ease-in-out;
}
.toggle-btn:hover .line2 {
  height: 1.5px;
  margin: 5px 0 5px 0;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 0px 0px 27px 5px rgba(5, 245, 255, 0.74);
  box-shadow: 0px 0px 27px 5px rgba(5, 245, 255, 0.74);
}
.line3 {
  height: 1.2px;
  background-color: var(--font-color);
  margin: 5px 0 5px 0;
}
.profile-toggle-btn {
  cursor: pointer;
  padding: 3px;
}
.nav-menu-small {
  display: none;
}
.hide-nav-menu {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .logo-div {
    width: 25%;
  }
  .nav-menu-div {
    width: 75%;
  }
  .nav-menu {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 765px) {
  .nav-menu-div {
    display: none;
  }

  .navbar-div-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
  }
  .toggle-btn {
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    padding: 4px;
    transition: all 1s ease;
  }
  .toggle-btn-left {
    transform: rotate(-405deg) translate(-5px, 5px);
    transition: 0.3s ease-in-out;
  }
  .toggle-btn-hide .line2 {
    transition: 0.1s ease-in-out;
    opacity: 0;
  }
  .toggle-btn-right {
    transform: rotate(225deg) translate(-1px, -1px);
    transition: 0.3s ease-in-out;
  }
  .back-toggle-btn-left {
    transform: rotate(0deg) translate(0px, 0px);
    transition: 0.3s ease-in-out;
  }
  .back-toggle-btn-right {
    transform: rotate(0deg) translate(0px, 0px);
    transition: 0.3s ease-in-out;
  }

  .nav-menu-small {
    display: block;
    width: 100%;
    height: 92vh;
    background-color: var(--nav-menu-color);
    position: absolute;
    -webkit-box-shadow: -1px 5px 11px -4px #070707;
    box-shadow: -1px 5px 11px -4px #070707;
  }
  .hide-nav-menu {
    animation: navMenuShow 0.5s ease forwards;
    top: 55px;
    color: var(--font-color);
  }
  .show-nav-menu {
    animation: navMenuHide 0.5s ease forwards;
    top: 55px;
  }
  .nav-menu-small-item {
    color: var(--font-color);
    display: flex;
    flex-direction: column;
  }
  .small-nav-menu-items {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .small-nav-menu-items {
    color: var(--font-color);
    text-decoration: none;
    cursor: pointer;
  }
  .small-nav-menu-items:hover {
    /* color: var(--font-hover-color); */
    background-color: #001531;
    color: rgb(0, 157, 255);
  }
  .nav-menu-small-profile-div {
    position: relative;
    height: 80vh;
    /* background-color: #001531; */
    margin: 0 auto;
  }
  .nav-menu-small-profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  .small-menu-profile-image {
    width: 100px;
    min-width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .small-menu-profile-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  .small-user-logout-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
    background-color: #001531;
    padding-top: 20px;
  }
  .logout-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(217, 254, 254);
    text-decoration: none;
  }
  .logout-item a {
    color: rgb(217, 254, 254);
    text-decoration: none;
  }
  .logout-item a:hover {
    color: rgb(0, 225, 255);
    text-decoration: none;
  }
  .logout-item:hover {
    color: rgb(0, 225, 255) !important;
  }
  .nav-links-active {
    transform: translateX(0%);
  }
  .nav-links-animation {
    animation: navLinksFade 0.5s ease forwards;
    animation-delay: 0.8s;
  }
}
@media only screen and (max-width: 578px) {
  .logo-div {
    margin-left: 15px;
  }
  .toggle-btn {
    margin-right: 15px;
  }
}
@keyframes navMenuShow {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes navMenuHide {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
