/** @format */

/* @-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    width: 125%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

.animation {
  display: block;
  /* -webkit-animation: fadeIn 1s; */
  animation: fadeIn 0.5s;
}
.order-item {
  border-radius: 4px;
}
.order-item:hover {
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 15px -11px #000000;
  box-shadow: 5px 5px 15px -11px #000000;
}

.order-item-show {
  border-radius: 5px;
  /* -webkit-box-shadow: 5px 5px 9px -6px rgba(86, 86, 86, 0.8);
  box-shadow: 5px 5px 9px -6px rgba(86, 86, 86, 0.8); */
}
.add-box-shadow {
  -webkit-box-shadow: 5px 5px 9px -6px rgba(86, 86, 86, 0.8);
  box-shadow: 5px 5px 9px -6px rgba(86, 86, 86, 0.8);
}
.add-thick-border {
  border: 1.5px solid rgb(130, 130, 130);
}
.add-background {
  background-color: rgb(235, 243, 247);
}
