/** @format */
:root {
  --font-color: #e4e4e4;
  --font-hover-color: #ffffff;
}
.summery-container {
  position: relative;
  background-color: #013457f0;
  color: var(--font-color);
  margin-top: 70px;
}
.show-summery-div {
  max-width: 430px;
  height: auto;
  background-color: aqua;
  position: absolute;
  right: 00px;
  top: 70px;
  z-index: 1;
  box-shadow: -5px 5px 10px -5px #a7a7a7;
}
@media only screen and (max-width: 565px) {
  .summery-container {
    padding: 0px !important;
  }
  .show-summery-div {
    max-width: 100%;
  }
}
