/** @format */
:root {
  --font-color: #e4e4e4;
  --font-hover-color: #ffffff;
  --dark-font-color: #6c6c6c;
  --light-border-color: #c2c2c2;
}
.user-item {
  cursor: pointer;
  border-radius: 2px;
  border: 0.5px solid rgba(0, 30, 94, 0.329);
  color: var(--font-color);
  background-color: rgb(0, 52, 78);
}
.user-item:hover {
  color: #0096dc;
  background-color: rgb(0, 40, 60);
}
.add-box-shadow {
  -webkit-box-shadow: 5px 5px 9px -6px rgba(86, 86, 86, 0.8);
  box-shadow: 5px 5px 9px -6px rgba(86, 86, 86, 0.8);
}
.add-thick-border {
  border: 1.5px solid rgb(130, 130, 130);
}
.add-selected-background {
  background-color: rgb(0, 40, 60);
}
.user-com-small-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
@media only screen and (max-width: 565px) {
  /* .user-item {
    padding: 0 10px !important;
  } */
  .users-names-item {
    padding: 0px 0px !important;
    margin: 0 !important;
    font-size: 15px;
  }
  .hide-item {
    display: none;
  }
  .add-margin {
    margin: 0 auto !important;
    max-width: 60% !important;
  }
  .user-com-small-avatar {
    width: 22px;
    min-width: 22px;
    height: 22px;
  }
  .users-names-item {
    padding-top: 3px !important;
    font-size: 14px;
  }
}
