/** @format */
.user-display-div {
  position: relative;
  max-height: 95vh;
  width: 100%;
}
.user-display-div-main {
  display: flex;
  height: 92vh;
  background-color: aqua;
  justify-content: space-between;
  align-items: center;
}
.user-display-section01 {
  background-color: #716c6c;
  height: 83vh;
  width: 28%;
  border-radius: 5px;
}
.user-display-section02 {
  background-color: #716c6c;
  height: 83vh;
  width: 70%;
  border-radius: 5px;
}

.users-orders-display {
  overflow-y: auto;
  height: 100%;
  max-height: 55vh;
}
div.users-orders-display::-webkit-scrollbar {
  width: 6px;
}
div.users-orders-display::-webkit-scrollbar-track {
  background: #a6a6a6;
}
div.users-orders-display::-webkit-scrollbar-thumb {
  background-color: #002741f0;
  /* border: 3px solid rgb(55, 55, 55); */
}
.user-display-img {
  height: 150px;
  width: 150px;
  min-width: 150px;
  object-fit: cover;
}
@media only screen and (max-width: 1000px) {
  .user-display-div-main {
    flex-direction: column;
    justify-content: space-around;
  }
  .user-display-section01 {
    height: 40vh;
    width: 100%;
  }
  .user-display-section02 {
    height: 45vh;
    width: 100%;
  }
  .user-display-img {
    padding: 10px;
  }
}
@media only screen and (max-width: 565px) {
  .user-display-img {
    height: 100px;
    width: 100px;
    min-width: 100px;
  }
  /* .user-display-div {
    padding: 0px 0px !important;
    width: calc(100% - 200px) !important;
  }
  .user-display-section01 {
    padding: 10px 0px !important;
    flex-direction: column;
    align-items: center;
  }
  .user-display-section01 > div:nth-child(1) {
    width: 50vw !important;
    min-width: 100% !important;
  } */
}
/* @media only screen and (min-width: 565px) {
  .user-display-div {
    padding: 0px 0px !important;
    width: calc(100% - 200px) !important;
    min-width: 100%;
  }
} */
