/** @format */
.user-display-div {
  position: relative;
  max-height: 95vh;
  width: 100%;
}
.user-display-div-main {
  display: flex;
  height: 92vh;
  background-color: rgba(227, 227, 227, 0);
  justify-content: space-between;
  align-items: center;
}
div.user-display-div-main::-webkit-scrollbar {
  width: 6px;
}
div.user-display-div-main::-webkit-scrollbar-track {
  background: #a6a6a6;
}
div.user-display-div-main::-webkit-scrollbar-thumb {
  background-color: #002741f0;
  /* border: 3px solid rgb(55, 55, 55); */
}
.user-display-section01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 83vh;
  width: 28%;
  border-radius: 5px;
  border: 0.2px solid rgb(183, 183, 183);
  background-color: var(--bg-card);
}
.user-display-section01:hover {
  -webkit-box-shadow: 3px 4px 15px -7px #3a3a3a;
  box-shadow: 3px 4px 15px -7px #3a3a3a;
}
.user-display-section01 div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-display-section02 {
  position: relative;
  height: 83vh;
  width: 70%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 0.2px solid rgb(183, 183, 183); */
  /* background-color: var(--bg-card); */
}
.user-display-top {
  width: 100%;
  display: flex;
  height: 25vh;
  justify-content: space-between;
}
.user-display-bottom {
  width: 100%;
  height: 65vh;
  border: 0.2px solid rgb(183, 183, 183);
  background-color: var(--bg-card);
  border-radius: 5px;
}
.user-display-bottom div {
  width: 100%;
  height: 55vh;
}
.user-display-bottom:hover {
  -webkit-box-shadow: 3px 4px 15px -7px #3a3a3a;
  box-shadow: 3px 4px 15px -7px #3a3a3a;
}
.users-orders-display {
  overflow-y: auto;
  height: 100%;
  max-height: 55vh;
}
div.users-orders-display::-webkit-scrollbar {
  width: 6px;
}
div.users-orders-display::-webkit-scrollbar-track {
  background: #a6a6a6;
}
div.users-orders-display::-webkit-scrollbar-thumb {
  background-color: #002741f0;
  /* border: 3px solid rgb(55, 55, 55); */
}
.user-display-img {
  height: 150px;
  width: 150px;
  min-width: 150px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
}

.user-display-items {
  width: 49%;
  height: 150px;
  border-radius: 5px;
  border: 0.2px solid var(--border);
  background-color: var(--bg-card);
}
.user-display-items:hover {
  -webkit-box-shadow: 3px 4px 15px -7px #3a3a3a;
  box-shadow: 3px 4px 15px -7px #3a3a3a;
}
.user-display-items > div:last-child {
  cursor: pointer;
  border-top: 0.2px solid var(--border);
}
.user-display-items > div:last-child:hover {
  color: rgb(0, 107, 201);
  transition: 0.5s ease;
}
.user-display-items-section1 {
  height: 100px;
}
.user-display-icon-big {
  font-size: 65px !important;
}
.user-display-items-section2 {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

@media only screen and (max-width: 1000px) {
  .user-display-div-main {
    width: 100%;
    height: 92vh;
    overflow-x: auto;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: scroll !important;
    display: inline-block;
  }

  .user-display-section01 {
    position: relative;
    flex-direction: row !important;
    align-items: center;
    height: 28vh;
    max-height: 28vh;
    width: 100%;
    padding-bottom: 2vh;
    margin-top: 2vh;
  }
  .user-display-section01 div {
    width: 50%;
  }

  .user-display-section02 {
    height: 50vh;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 10vh !important;
  }
  .user-display-bottom {
    margin-top: 2vh;
    height: 50vh;
  }
}
@media only screen and (max-width: 765px) {
  .admin-edit-section01 {
    margin-top: 10vh;
  }
  .user-display-top {
    height: 25vh;
  }
  .user-display-bottom {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 565px) {
  .user-display-div-main {
    width: 100%;
    overflow-x: auto;
    flex-direction: column;
    justify-content: space-around;
  }
  .user-display-section01 {
    width: 100%;
    height: 38vh;
  }

  .user-display-section02 {
    width: 100%;
    height: 60vh;
  }
  .user-display-top {
    flex-direction: column;
    height: auto;
  }
  .user-display-bottom {
    margin-top: 10px 0;
    height: 50vh;
  }
  .user-display-items {
    width: 100%;
    margin: 5px 0;
  }
  .user-display-img {
    height: 100px;
    width: 100px;
    min-width: 100px;
  }
}
